In [9]:
import numpy as np
import pandas as pd

df = pd.read_csv("gapminder.csv", index_col=1)

print(df.head(5))
df.head(5)

             Unnamed: 0  year  population      cont  life_exp       gdp_cap
country
Afghanistan          11  2007  31889923.0      Asia    43.828    974.580338
Albania              23  2007   3600523.0    Europe    76.423   5937.029526
Algeria              35  2007  33333216.0    Africa    72.301   6223.367465
Angola               47  2007  12420476.0    Africa    42.731   4797.231267
Argentina            59  2007  40301927.0  Americas    75.320  12779.379640

             Unnamed: 0  year  population      cont  life_exp       gdp_cap
country
Afghanistan          11  2007  31889923.0      Asia    43.828    974.580338
Albania              23  2007   3600523.0    Europe    76.423   5937.029526
Algeria              35  2007  33333216.0    Africa    72.301   6223.367465
Angola               47  2007  12420476.0    Africa    42.731   4797.231267
Argentina            59  2007  40301927.0  Americas    75.320  12779.379640

In [8]:
df[0:25]

,Unnamed: 0,year,population,cont,life_exp,gdp_cap
country,,,,,,
Afghanistan,11,2007,3.188992e+07,Asia,43.828,974.580338
Albania,23,2007,3.600523e+06,Europe,76.423,5937.029526
Algeria,35,2007,3.333322e+07,Africa,72.301,6223.367465
Angola,47,2007,1.242048e+07,Africa,42.731,4797.231267
Argentina,59,2007,4.030193e+07,Americas,75.320,12779.379640
Australia,71,2007,2.043418e+07,Oceania,81.235,34435.367440
Austria,83,2007,8.199783e+06,Europe,79.829,36126.492700
Bahrain,95,2007,7.085730e+05,Asia,75.635,29796.048340
Bangladesh,107,2007,1.504483e+08,Asia,64.062,1391.253792
Belgium,119,2007,1.039223e+07,Europe,79.441,33692.605080
Benin,131,2007,8.078314e+06,Africa,56.728,1441.284873
Bolivia,143,2007,9.119152e+06,Americas,65.554,3822.137084
Bosnia and Herzegovina,155,2007,4.552198e+06,Europe,74.852,7446.298803
Botswana,167,2007,1.639131e+06,Africa,50.728,12569.851770
Brazil,179,2007,1.900106e+08,Americas,72.390,9065.800825
Bulgaria,191,2007,7.322858e+06,Europe,73.005,10680.792820
Burkina Faso,203,2007,1.432620e+07,Africa,52.295,1217.032994
Burundi,215,2007,8.390505e+06,Africa,49.580,430.070692
Cambodia,227,2007,1.413186e+07,Asia,59.723,1713.778686
Cameroon,239,2007,1.769629e+07,Africa,50.430,2042.095240
Canada,251,2007,3.339014e+07,Americas,80.653,36319.235010
Central African Republic,263,2007,4.369038e+06,Africa,44.741,706.016537
Chad,275,2007,1.023881e+07,Africa,50.651,1704.063724
Chile,287,2007,1.628474e+07,Americas,78.553,13171.638850
China,299,2007,1.318683e+09,Asia,72.961,4959.114854

In [16]:
df.loc[['Afghanistan','China'],['year','population']]

             year    population
country
Afghanistan  2007  3.188992e+07
China        2007  1.318683e+09