In [2]:
import pickle
import pandas as pd

In [3]:
# Replace with your actual path if it's not in the same folder
with open("avoplotto.pkl", "rb") as f:
    data = pickle.load(f)
data

            date          type  year  avg_price         size     nb_sold
0     2015-12-27  conventional  2015       0.95        small  9626901.09
1     2015-12-20  conventional  2015       0.98        small  8710021.76
2     2015-12-13  conventional  2015       0.93        small  9855053.66
3     2015-12-06  conventional  2015       0.89        small  9405464.36
4     2015-11-29  conventional  2015       0.99        small  8094803.56
...          ...           ...   ...        ...          ...         ...
1009  2018-02-04       organic  2018       1.53  extra_large     1703.52
1010  2018-01-28       organic  2018       1.61  extra_large     1270.61
1011  2018-01-21       organic  2018       1.63  extra_large     1490.02
1012  2018-01-14       organic  2018       1.59  extra_large     1580.01
1013  2018-01-07       organic  2018       1.51  extra_large     1289.07

[1014 rows x 6 columns]

In [4]:
data['date'].min()

'2015-01-04'

In [5]:
data['date'].max()

'2018-03-25'

In [18]:
most_distribution = data['date'].mode()[0]
print(f'most_distribution: {most_distribution}')

most_distribution: 2015-01-04

In [22]:
data.value_counts

<bound method DataFrame.value_counts of             date          type  year  avg_price         size     nb_sold  \
0     2015-12-27  conventional  2015       0.95        small  9626901.09
1     2015-12-20  conventional  2015       0.98        small  8710021.76
2     2015-12-13  conventional  2015       0.93        small  9855053.66
3     2015-12-06  conventional  2015       0.89        small  9405464.36
4     2015-11-29  conventional  2015       0.99        small  8094803.56
...          ...           ...   ...        ...          ...         ...
1009  2018-02-04       organic  2018       1.53  extra_large     1703.52
1010  2018-01-28       organic  2018       1.61  extra_large     1270.61
1011  2018-01-21       organic  2018       1.63  extra_large     1490.02
1012  2018-01-14       organic  2018       1.59  extra_large     1580.01
1013  2018-01-07       organic  2018       1.51  extra_large     1289.07

         3nb_sold
0     28880703.27
1     26130065.28
2     29565160.98
3     28216393.08
4     24284410.68
...           ...
1009      5110.56
1010      3811.83
1011      4470.06
1012      4740.03
1013      3867.21

[1014 rows x 7 columns]>

In [23]:
data.shape

(1014, 7)

In [24]:
data.describe()

              year    avg_price       nb_sold      3nb_sold
count  1014.000000  1014.000000  1.014000e+03  1.014000e+03
mean   2016.147929     1.319024  4.167774e+06  1.250332e+07
std       0.940380     0.295168  5.596185e+06  1.678856e+07
min    2015.000000     0.760000  8.343000e+02  2.502900e+03
25%    2015.000000     1.040000  1.320755e+05  3.962264e+05
50%    2016.000000     1.325000  4.232327e+05  1.269698e+06
75%    2017.000000     1.540000  1.019066e+07  3.057198e+07
max    2018.000000     2.090000  2.274362e+07  6.823085e+07

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1014 entries, 0 to 1013
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1014 non-null   object
 1   type       1014 non-null   object
 2   year       1014 non-null   int64
 3   avg_price  1014 non-null   float64
 4   size       1014 non-null   object
 5   nb_sold    1014 non-null   float64
 6   3nb_sold   1014 non-null   float64
dtypes: float64(3), int64(1), object(3)
memory usage: 55.6+ KB

In [26]:
data.index

RangeIndex(start=0, stop=1014, step=1)

In [27]:
data.columns

Index(['date', 'type', 'year', 'avg_price', 'size', 'nb_sold', '3nb_sold'], dtype='object')

In [29]:
condition = data['date'].isin(['2015-01-04'])
data[condition]

,date,type,year,avg_price,size,nb_sold,3nb_sold
51,2015-01-04,conventional,2015,0.95,small,12357161.34,37071484.02
220,2015-01-04,organic,2015,1.46,small,233286.13,699858.39
389,2015-01-04,conventional,2015,0.95,large,13624083.05,40872249.15
558,2015-01-04,organic,2015,1.46,large,216611.20,649833.60
727,2015-01-04,conventional,2015,0.95,extra_large,844093.32,2532279.96
896,2015-01-04,organic,2015,1.46,extra_large,4370.99,13112.97

In [7]:
def tripleTheSold(nb_sold):
    return nb_sold*3

data['3nb_sold'] = data['nb_sold'].agg(tripleTheSold)
data

/tmp/ipykernel_309486/2262383381.py:4: FutureWarning: using <function tripleTheSold at 0x73b3a00cfe20> in Series.agg cannot aggregate and has been deprecated. Use Series.transform to keep behavior unchanged.
  data['3nb_sold'] = data['nb_sold'].agg(tripleTheSold)

,date,type,year,avg_price,size,nb_sold,3nb_sold
0,2015-12-27,conventional,2015,0.95,small,9626901.09,28880703.27
1,2015-12-20,conventional,2015,0.98,small,8710021.76,26130065.28
2,2015-12-13,conventional,2015,0.93,small,9855053.66,29565160.98
3,2015-12-06,conventional,2015,0.89,small,9405464.36,28216393.08
4,2015-11-29,conventional,2015,0.99,small,8094803.56,24284410.68
...,...,...,...,...,...,...,...
1009,2018-02-04,organic,2018,1.53,extra_large,1703.52,5110.56
1010,2018-01-28,organic,2018,1.61,extra_large,1270.61,3811.83
1011,2018-01-21,organic,2018,1.63,extra_large,1490.02,4470.06
1012,2018-01-14,organic,2018,1.59,extra_large,1580.01,4740.03
1013,2018-01-07,organic,2018,1.51,extra_large,1289.07,3867.21

In [32]:
data.columns

Index(['date', 'type', 'year', 'avg_price', 'size', 'nb_sold', '3nb_sold'], dtype='object')

In [46]:
data.tail()

            date     type  year  avg_price         size  nb_sold  3nb_sold
1009  2018-02-04  organic  2018       1.53  extra_large  1703.52   5110.56
1010  2018-01-28  organic  2018       1.61  extra_large  1270.61   3811.83
1011  2018-01-21  organic  2018       1.63  extra_large  1490.02   4470.06
1012  2018-01-14  organic  2018       1.59  extra_large  1580.01   4740.03
1013  2018-01-07  organic  2018       1.51  extra_large  1289.07   3867.21

In [47]:
data['avg_price'].median()

np.float64(1.3250000000000002)

In [49]:
data['avg_price'].mean()

np.float64(1.3190236686390533)

In [50]:
data['avg_price'].min()

np.float64(0.76)

In [51]:
data['avg_price'].max()

np.float64(2.09)

In [52]:
data['avg_price'].mode()

0    1.0
Name: avg_price, dtype: float64

In [56]:
data['avg_price'].var()

np.float64(0.08712431730696216)

In [57]:
data['avg_price'].sum()

np.float64(1337.49)

In [58]:
data['3nb_sold'].sum()

np.float64(12678368908.019999)

In [59]:
data['avg_price'].std()

np.float64(0.2951682864180401)

In [60]:
data['avg_price'].quantile()

np.float64(1.3250000000000002)

In [66]:
help(pd.DataFrame.var)

Help on function var in module pandas.core.frame:

var(self, axis: 'Axis | None' = 0, skipna: 'bool' = True, ddof: 'int' = 1, numeric_only: 'bool' = False, **kwargs)
    Return unbiased variance over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument.

    Parameters
    ----------
    axis : {index (0), columns (1)}
        For `Series` this parameter is unused and defaults to 0.

        .. warning::

            The behavior of DataFrame.var with ``axis=None`` is deprecated,
            in a future version this will reduce over both axes and return a scalar
            To retain the old behavior, pass axis=0 (or do not pass axis).

    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

    Examples
    --------
    >>> df = pd.DataFrame({'person_id': [0, 1, 2, 3],
    ...                    'age': [21, 25, 62, 43],
    ...                    'height': [1.61, 1.87, 1.49, 2.01]}
    ...                   ).set_index('person_id')
    >>> df
               age  height
    person_id
    0           21    1.61
    1           25    1.87
    2           62    1.49
    3           43    2.01

    >>> df.var()
    age       352.916667
    height      0.056367
    dtype: float64

    Alternatively, ``ddof=0`` can be set to normalize by N instead of N-1:

    >>> df.var(ddof=0)
    age       264.687500
    height      0.042275
    dtype: float64

# Help on function mode in module pandas.core.frame:


mode(self, axis: 'Axis' = 0, numeric_only: 'bool' = False, dropna: 'bool' = True) -> 'DataFrame'
    Get the mode(s) of each element along the selected axis.
    
    The mode of a set of values is the value that appears most often.
    It can be multiple values.
    
    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        The axis to iterate over while searching for the mode:
    
        * 0 or 'index' : get mode of each column
        * 1 or 'columns' : get mode of each row.
    
    numeric_only : bool, default False
        If True, only apply to numeric columns.
    dropna : bool, default True
        Don't consider counts of NaN/NaT.
    
    Returns
    -------
    DataFrame
        The modes of each column or row.
    
    See Also
    --------
    Series.mode : Return the highest frequency value in a Series.
    Series.value_counts : Return the counts of values in a Series.
    
    Examples
    --------
    >>> df = pd.DataFrame([('bird', 2, 2),
    ...                    ('mammal', 4, np.nan),
    ...                    ('arthropod', 8, 0),
    ...                    ('bird', 2, np.nan)],
    ...                   index=('falcon', 'horse', 'spider', 'ostrich'),
    ...                   columns=('species', 'legs', 'wings'))
    >>> df
               species  legs  wings
    falcon        bird     2    2.0
    horse       mammal     4    NaN
    spider   arthropod     8    0.0
    ostrich       bird     2    NaN
    
    By default, missing values are not considered, and the mode of wings
    are both 0 and 2. Because the resulting DataFrame has two rows,
    the second row of ``species`` and ``legs`` contains ``NaN``.
    
    >>> df.mode()
      species  legs  wings
    0    bird   2.0    0.0
    1     NaN   NaN    2.0
    
    Setting ``dropna=False`` ``NaN`` values are considered and they can be
    the mode (like for wings).
    
    >>> df.mode(dropna=False)
      species  legs  wings
    0    bird     2    NaN
    
    Setting ``numeric_only=True``, only the mode of numeric columns is
    computed, and columns of other types are ignored.
    
    >>> df.mode(numeric_only=True)
       legs  wings
    0   2.0    0.0
    1   NaN    2.0
    
    To compute the mode over columns and not rows, use the axis parameter:
    
    >>> df.mode(axis='columns', numeric_only=True)
               0    1
    falcon   2.0  NaN
    horse    4.0  NaN
    spider   0.0  8.0
    ostrich  2.0  NaN

In [ ]:
# The mode of a set of values is the value that appears most often. It can be multiple values.
help(pd.DataFrame.mode)

Help on function mode in module pandas.core.frame:

mode(self, axis: 'Axis' = 0, numeric_only: 'bool' = False, dropna: 'bool' = True) -> 'DataFrame'
    Get the mode(s) of each element along the selected axis.

    The mode of a set of values is the value that appears most often.
    It can be multiple values.

    Parameters
    ----------
    axis : {0 or 'index', 1 or 'columns'}, default 0
        The axis to iterate over while searching for the mode:

        * 0 or 'index' : get mode of each column
        * 1 or 'columns' : get mode of each row.

    numeric_only : bool, default False
        If True, only apply to numeric columns.
    dropna : bool, default True
        Don't consider counts of NaN/NaT.

    Returns
    -------
    DataFrame
        The modes of each column or row.

    See Also
    --------
    Series.mode : Return the highest frequency value in a Series.
    Series.value_counts : Return the counts of values in a Series.

    Examples
    --------
    >>> df = pd.DataFrame([('bird', 2, 2),
    ...                    ('mammal', 4, np.nan),
    ...                    ('arthropod', 8, 0),
    ...                    ('bird', 2, np.nan)],
    ...                   index=('falcon', 'horse', 'spider', 'ostrich'),
    ...                   columns=('species', 'legs', 'wings'))
    >>> df
               species  legs  wings
    falcon        bird     2    2.0
    horse       mammal     4    NaN
    spider   arthropod     8    0.0
    ostrich       bird     2    NaN

    By default, missing values are not considered, and the mode of wings
    are both 0 and 2. Because the resulting DataFrame has two rows,
    the second row of ``species`` and ``legs`` contains ``NaN``.

    >>> df.mode()
      species  legs  wings
    0    bird   2.0    0.0
    1     NaN   NaN    2.0

    Setting ``dropna=False`` ``NaN`` values are considered and they can be
    the mode (like for wings).

    >>> df.mode(dropna=False)
      species  legs  wings
    0    bird     2    NaN

    Setting ``numeric_only=True``, only the mode of numeric columns is
    computed, and columns of other types are ignored.

    >>> df.mode(numeric_only=True)
       legs  wings
    0   2.0    0.0
    1   NaN    2.0

    To compute the mode over columns and not rows, use the axis parameter:

    >>> df.mode(axis='columns', numeric_only=True)
               0    1
    falcon   2.0  NaN
    horse    4.0  NaN
    spider   0.0  8.0
    ostrich  2.0  NaN

In [68]:
help(pd.DataFrame.var)

Help on function var in module pandas.core.frame:

var(self, axis: 'Axis | None' = 0, skipna: 'bool' = True, ddof: 'int' = 1, numeric_only: 'bool' = False, **kwargs)
    Return unbiased variance over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument.

    Parameters
    ----------
    axis : {index (0), columns (1)}
        For `Series` this parameter is unused and defaults to 0.

        .. warning::

            The behavior of DataFrame.var with ``axis=None`` is deprecated,
            in a future version this will reduce over both axes and return a scalar
            To retain the old behavior, pass axis=0 (or do not pass axis).

    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

    Examples
    --------
    >>> df = pd.DataFrame({'person_id': [0, 1, 2, 3],
    ...                    'age': [21, 25, 62, 43],
    ...                    'height': [1.61, 1.87, 1.49, 2.01]}
    ...                   ).set_index('person_id')
    >>> df
               age  height
    person_id
    0           21    1.61
    1           25    1.87
    2           62    1.49
    3           43    2.01

    >>> df.var()
    age       352.916667
    height      0.056367
    dtype: float64

    Alternatively, ``ddof=0`` can be set to normalize by N instead of N-1:

    >>> df.var(ddof=0)
    age       264.687500
    height      0.042275
    dtype: float64

In [69]:
help(pd.DataFrame.std)

Help on function std in module pandas.core.frame:

std(self, axis: 'Axis | None' = 0, skipna: 'bool' = True, ddof: 'int' = 1, numeric_only: 'bool' = False, **kwargs)
    Return sample standard deviation over requested axis.

    Normalized by N-1 by default. This can be changed using the ddof argument.

    Parameters
    ----------
    axis : {index (0), columns (1)}
        For `Series` this parameter is unused and defaults to 0.

        .. warning::

            The behavior of DataFrame.std with ``axis=None`` is deprecated,
            in a future version this will reduce over both axes and return a scalar
            To retain the old behavior, pass axis=0 (or do not pass axis).

    skipna : bool, default True
        Exclude NA/null values. If an entire row/column is NA, the result
        will be NA.
    ddof : int, default 1
        Delta Degrees of Freedom. The divisor used in calculations is N - ddof,
        where N represents the number of elements.
    numeric_only : bool, default False
        Include only float, int, boolean columns. Not implemented for Series.

    Returns
    -------
    Series or DataFrame (if level specified)

    Notes
    -----
    To have the same behaviour as `numpy.std`, use `ddof=0` (instead of the
    default `ddof=1`)

    Examples
    --------
    >>> df = pd.DataFrame({'person_id': [0, 1, 2, 3],
    ...                    'age': [21, 25, 62, 43],
    ...                    'height': [1.61, 1.87, 1.49, 2.01]}
    ...                   ).set_index('person_id')
    >>> df
               age  height
    person_id
    0           21    1.61
    1           25    1.87
    2           62    1.49
    3           43    2.01

    The standard deviation of the columns can be found as follows:

    >>> df.std()
    age       18.786076
    height     0.237417
    dtype: float64

    Alternatively, `ddof=0` can be set to normalize by N instead of N-1:

    >>> df.std(ddof=0)
    age       16.269219
    height     0.205609
    dtype: float64